.Pfivemain{
    margin-left: 5%;
    margin-top: 5%;
    width: 60%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 10px;
    
}

.card1 ,.card2 ,.card3 ,.card4 ,.card5 ,.card6 {
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px 20px 20px;
    
} 

.card1{
    display: grid;
    grid-template-columns:  4fr 1fr ;
    padding-top: 7%;
}

.card2{
    font-size: 20px;
    font-style: normal;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.card2{
    font-size: 20px;
    font-style: normal;
}
.card2cpu{
    margin-top: 2%;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;

}