.purpose {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  margin-left: 5%;
  margin-top: 3%;
  justify-content: center;
}
.general,
.cpu,
.storage,
.network {
  border: 1px solid #007eff;
  box-sizing: border-box;
  border-radius: 8px;
  height: 36px;
  width: 200px;
  background: #ffffff;
  padding-top: 4%;
}

.general:hover,
.cpu:hover,
.storage:hover,
.network:hover {
  color: hsl(210, 100%, 50%);
}

.core-memory {
  display: grid;
  grid-template-columns: 20% 20%;
}

.DD-block {
  margin-left: 5%;
  margin-top: 3%;
}

.cpu-cores,
.cpu-memory {
  color: hsl(210, 100%, 50%);
  border: 1px solid #007eff;
  box-sizing: border-box;
  border-radius: 8px;
  height: 36px;
  width: 200px;
  background: #ffffff;
  text-align: center;
}

/* .cpu{

}
.storage{

}
.network{

} */
