.App {
  
  width:100%;
  height: 100%;
  
}

.App-header {
   width: 100%;
  height: 20%;
  left: 0px;
  top: 0px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
  font-family: Montserrat;
  text-align: center;
}

.hvc {
  
  left: 45%;   
  font-family: Montserrat;
  font: #25282b;
  font-size: 42px;
  font-weight: bold;  
}

.divide{
  display: grid;
  height: 100%;
  grid-template-columns: 7fr 3fr 0fr;
  grid-gap: 10px;
}

.left-section{
  left: 10px;
  height: 100%;
  margin-bottom: 5%;
}

.secondary-header {
  display: grid;
  grid-template-columns: 10fr 1fr;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  padding: 0px 20px 0px 50px;
}
.header-name {
  font-style: bold;
  font-size: 44px;
  color: #000000;
  justify-content: left;
}

button 
{
  background: #ffffff ;
  box-sizing: border-box;
  border: 0px ;
  margin-top: 5%;
}

.region-select {
  position: end;
  justify-self: end;
  align-self: center;
  border: 1px solid #007eff;
  box-sizing: border-box;
  border-radius: 8px;
  height: 36px;
  width: 200px;
  background: #ffffff 
}

.screen-name {
  display: grid;
  font-size: 10px;
  text-align: center;
  grid-column-gap: 10px;
  grid-template-columns: 120px 180px 200px 150px 200px ;
  
}

.pageone, .pagetwo ,.pagethree , .pagefour , .pagefive{
  padding: 15px 5px 15px 5px;
  background: #ffffff;
  border-radius: 6px;
}

.pageone:hover , .pagetwo:hover, .pagethree:hover, .pagefour:hover , .pagefive:hover{
  background: #007EFF;
  color: #ffffff;
}

.right-section{
  margin-top: 15%;
  margin-right: 15%;
  height: 50%;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 20px 20px 20px;
  }

  .costHeader{
    border-bottom: 2px solid gray;
    
    
  }

  .costList{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-row-gap: 10px;
    font-size: 10px;
    font-style: normal;
    margin-top: 10%;
    font-weight: normal;
  }

  footer{
    margin-top: 10%;
    border-top: 2px solid gray;
    font-size: 15px;
  }
  .selected{
    background: #007EFF;
    color: honeydew;
  }