.p3body{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-size: 10px;
    font-weight: bold;
    padding: 10px 20px 20px 20px;
    margin-left: 4%;
    margin-top: 4%;
    margin-right: 15%;
    
}

.p3card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.storage-type{
    color: hsl(210, 100%, 50%);
  border: 1px solid #007eff;
  box-sizing: border-box;
  border-radius: 8px;
  height: 36px;
  width: 100px;
  background: #ffffff;
  text-align: center;
}

.slidecontainer {
    margin-top: 10%;
    margin-left: 10%;
    width: 50%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }