.body{
    font-size: 20px;
    width: 80%;
}

.body{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 5%;
    margin-left: 4%;
    height: 100%;
    
    
}

.linux, .ubuntu,.red-hat, .microsoft,.suse{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;   
}
h1{
    font-size: 20px;
}
p{
    font-size: 10px;
    font-style: normal;
}
.img{
    background: grey;
    padding: 10% 10% 10% 10% ;
}
.img-body{
    padding: 0% 0% 0% 5% ;
}
.img-processor{
    font-size: 10px;
    font-style: bold;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.select-button , .proceed-button{
    background: #007EFF;
    box-shadow: none ;
    color: ivory;
    border: 1px solid #007eff;
    border-radius: 8px;
}

.proceed-button{
    margin-left: 50%;
    width: 10%;
    height: 50%;
}

/*.modal{
    display: none; 
  position: fixed;
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content{
    background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}


.ubuntu,.red-hat, .microsof,.suse{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px 20px 20px;    
}
.red-hat{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px 20px 20px;    
}
.microsoft{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px 20px 20px;    
}
.suse{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px 20px 20px;    
} */